- name: Install containerd
  apt:
    name: containerd
    state: present
    update_cache: yes

- name: Create config directory
  file:
    path: /etc/containerd
    state: directory

- name: Generate default config
  shell: containerd config default
  register: containerd_config

- name: Write config file
  copy:
    dest: /etc/containerd/config.toml
    content: "{{ containerd_config.stdout }}"

- name: Enable systemd cgroup
  replace:
    path: /etc/containerd/config.toml
    regexp: 'SystemdCgroup = false'
    replace: 'SystemdCgroup = true'

- name: Restart containerd
  systemd:
    name: containerd
    enabled: yes
    state: restarted
